# --- Train Test Directory ---
TRAIN_IMAGE_DIR=/path/to/your/train_dataset
TEST_IMAGE_DIR=/path/to/your/test_dataset

# --- JSONL File Paths ---
TRAIN_JSONL=/path/to/your/train.jsonl
VAL_JSONL=/path/to/your/val.jsonl
TEST_JSONL=/path/to/your/test.jsonl

# --- LORA Model Directory ---
LORA_DIR=./lora_model